[submodule "external/sdl2"]
	path = external/sdl2
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/sdl2-image"]
	path = external/sdl2-image
	url = https://github.com/libsdl-org/SDL_image.git
